@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&family=Splash&family=Ubuntu:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../img/body/wallpaperbetter.com_3840x2160.jpg);
  background-size: cover;
  height: 100%; }

.grilla {
  display: grid;
  align-items: center;
  min-height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.head_index {
  font-family: 'Fjalla One', sans-serif;
  display: inline-block; }

nav {
  display: flex; }

.navbar-nav li a:hover {
  border: 2px black solid; }

.login_img {
  display: flex;
  margin-left: auto; }

.main_style {
  display: flex;
  flex-direction: column;
  padding: 1px 1px;
  gap: 1rem; }
  .main_style .sub_tit {
    display: flex;
    border: 4px aliceblue solid;
    margin-top: 2.5rem;
    color: aliceblue;
    font-family: "Fjalla One";
    text-align: center; }
  .main_style .img_titulo {
    font-weight: bold;
    font-size: 45px;
    font-family: 'Fjalla One', sans-serif;
    color: black;
    opacity: 0.7; }
  .main_style .par1 {
    margin: 20px;
    color: aliceblue;
    font-weight: bold;
    text-align: center; }

.main_jobs {
  margin: 45px;
  display: grid; }

.borde_main {
  border: 2px solid white;
  color: aliceblue;
  padding: 1rem; }

.main_jobs h2 {
  font-family: 'Fjalla One', sans-serif;
  color: aliceblue;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 1rem; }

.main_jobs p {
  text-align: center;
  align-items: center;
  font-weight: bold;
  color: aliceblue; }

@media only screen and (min-width: 600px) {
  /* Index media +600 */
  .main_style {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas: "ms4 ms4" "ms1 ms2" "ms3 ms3";
    justify-items: center;
    align-items: center; }
  /* Main media +600 */
  .sub_tit {
    grid-area: ms4;
    font-size: 30px;
    font-weight: 900; }
  .par1 {
    max-width: 1200px; }
  .main_jobs {
    grid-template-columns: repeat(3, auto); } }

@media only screen and (max-width: 970px) {
  .main_jobs {
    grid-template-columns: repeat(1, auto); }
  .sub_tit {
    justify-content: center; }
  .img_tiutlo {
    font-size: small; } }

/* NOSOTROS */
.nosotros_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem; }

.nosotros_titulo {
  display: flex;
  color: aliceblue;
  font-size: 30px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 900;
  margin-bottom: 1.5rem;
  margin-top: 1rem; }

.nosotros_parrafo {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: aliceblue; }

.nosotros_parrafo p {
  max-width: 1200px; }

.testimonio_titulo {
  display: flex;
  font-size: 15px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: aliceblue; }

#testi_row {
  display: flex;
  justify-content: center;
  gap: 2rem; }

#testi_row h5 {
  font-weight: bold; }

#test_col {
  display: flex;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  gap: 1rem;
  margin-bottom: 1rem; }

@media only screen and (min-width: 600px) {
  /* Main nosotros media +600 */
  .nosotros_titulo {
    justify-content: center; }
  .nosotros_parrafo {
    text-align: center; }
  .testimonio_titulo {
    justify-content: center; }
  .nosotros_testimonio {
    justify-content: center;
    text-align: center; } }

@media only screen and (max-width: 600px) {
  /* main nosotros media -600 */
  .nosotros_titulo {
    justify-content: center; }
  .nosotros_parrafo {
    text-align: center;
    justify-content: center; }
  .nosotros_testimonio {
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .testimonio_titulo {
    justify-content: center; }
  #serv_row {
    flex-direction: column; }
  #testi_row {
    flex-direction: column; } }

@media only screen and (max-width: 970px) {
  .carousel_slide {
    width: fit-content;
    margin: 0 auto; } }

#col_text {
  color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem; }

.testimonio_clientes {
  display: flex;
  justify-content: center; }

.parrafos_serv {
  display: flex;
  justify-content: center; }

.titulos_consultoria {
  display: flex;
  justify-content: flex-end;
  align-items: initial;
  border-bottom: 2px solid aliceblue;
  font-size: 25px;
  font-weight: bolder; }

.titulos_web {
  display: flex;
  align-items: initial;
  border-bottom: 2px solid aliceblue;
  font-size: 25px;
  font-weight: bolder; }

.titulos_almacenamiento {
  display: flex;
  border-bottom: 2px solid aliceblue;
  font-size: 25px;
  font-weight: bolder; }

.parrafo_serv {
  text-align: right;
  font-size: 15px;
  font-weight: 300; }

.main_servicios {
  display: flex;
  flex-direction: column;
  gap: 3rem; }

#conteiner_1 {
  border-bottom: 3px solid aliceblue;
  gap: 1rem; }

.titulo_trabajo {
  color: aliceblue;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid aliceblue;
  font-size: 30px;
  font-weight: bolder; }

#container_jobs {
  display: flex;
  justify-content: center; }

#container_jobs2 {
  display: flex;
  justify-content: center; }

/* REGISTER */
.main_register {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin: 6rem; }

/* CONTACTO */
.main_contact {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 3.5rem;
  color: white; }

.img_contact {
  display: flex;
  justify-content: center; }

.img_contact img {
  width: 250px;
  height: 100px; }

.form_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: aliceblue;
  margin: 1rem;
  gap: 1rem; }

.boton_enviar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: 'Fjalla One', sans-serif;
  color: aliceblue; }

/* LOGIN */
.form_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  color: white;
  font-family: 'Fjalla One', sans-serif; }
