*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
html{
    width: 100%;
    height: 100%;
}
body{
    
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/body/wallpaperbetter.com_3840x2160.jpg);
    background-size:cover;
    height: 100%;
}