
.main_style{

    display: flex;
    flex-direction: column;
    padding: 1px 1px;
    gap: 1rem;
    @mixin estilo_index1 ($color_letra, $font_family, $text_aling){
        color: $color_letra;
        font-family: $font_family;
        text-align: $text_aling;
    }
    



    .sub_tit{
        display: flex;     
        border: 4px aliceblue solid;
        margin-top: 2.5rem;
        @include estilo_index1(aliceblue, 'Fjalla One', center )
   
    }
    .img_titulo{
        font-weight: bold;
        font-size: 45px;
        font-family: 'Fjalla One', sans-serif;
        color:rgb(0, 0, 0);
        opacity: 0.7;
    }
    .par1{
        margin: 20px;
        color: aliceblue;
        font-weight: bold;
        text-align: center;
        
        
    }
    
   



}





.main_jobs{
    margin: 45px;
    display: grid;

    
    

}
.borde_main{
    border: 2px solid white;
    color: aliceblue;
    padding: 1rem;
    
}

.main_jobs h2{
    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 1rem;
}

.main_jobs p{
    text-align:center;
    align-items: center;
    font-weight: bold;
    color: aliceblue;

}

@media only screen and (min-width:600px){

    /* Index media +600 */
        .main_style{
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 0.1fr 0.1fr;
            grid-template-areas: "ms4 ms4"
                                 "ms1 ms2"
                                 "ms3 ms3";
        justify-items: center;
        align-items: center;
        }

    /* Main media +600 */

        .sub_tit{
            grid-area: ms4;
            font-size: 30px;
            font-weight: 900;
        }

        .par1{
            max-width: 1200px;
        }
        .main_jobs{
            grid-template-columns: repeat(3, auto);
        }
    }
    @media only screen and (max-width:970px){
        .main_jobs{
            grid-template-columns: repeat(1, auto);
        }

        .sub_tit{
            justify-content: center;
        }
        .img_tiutlo{
            font-size: small;
        }
    }    