
.titulo_trabajos{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    padding: 1rem;
    border: white 2px solid;
    margin: 1rem;
}

#jobs_imagenes{
    display: flex;
}
