
.head_index{
    font-family: 'Fjalla One', sans-serif;
    display: inline-block;
}
nav{
    display: flex;
    &:hover{
        border: 2px black solid;
    }

}
.navbar-nav li a

.login_img{
    display: flex;
    margin-left: auto;
}