
.head_index{
    font-family: 'Fjalla One', sans-serif;
    display: inline-block;
}
nav{
    display: flex;

}
.navbar-nav li a:hover{
    border: 2px black solid;
}

.login_img{
    display: flex;
    margin-left: auto;
}