
#col_text {
    color: aliceblue;
}
.testimonio_clientes{
    display: flex;
    justify-content: center;
}
.parrafos_serv{
    display: flex;
    justify-content: center;
}
.titulos_serv{
    display: flex;
    justify-content: flex-end;
}

.parrafo_serv{
    display: flex;
    justify-content: flex-end;

}

.main_servicios{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.container{
    border: 2px solid white;
}