@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&family=Splash&family=Ubuntu:ital,wght@1,300&display=swap");
@import "variables"; 
@import "generales";
@import "grilla";
@import "nav";
@import "indexmain";
@import "nosotros";
@import "servicios";

/* REGISTER */
.main_register{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    margin: 6rem;
    
}


 /* CONTACTO */

.main_contact{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 3.5rem;
    color: white;
}

.img_contact{
    display: flex;
    justify-content: center;
}
.img_contact img{
    width: 250px;
    height: 100px;
}
.form_style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
    margin: 1rem;
    gap: 1rem;
    
}

.boton_enviar{
display: flex;
justify-content: center;
margin-bottom: 1rem;
 font-family: 'Fjalla One', sans-serif;
 color: aliceblue;
    

}
/* LOGIN */

.form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}
